@colorSecundario: rgb(255, 145, 0);


.App{
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
 background-size:500px;
}
.letraColorBlanco{
  color: rgb(255, 255, 255);
}

.btnPersonalizado{
  margin-left: 20px;
  margin-right: 20px;
 

}
.letrasBoton{
  color: rgb(0, 0, 0);
}

.buscador{
background-color: rgb(255, 255, 255);
text-align: center;
margin:10px;
padding: 20px;
height: 15px;
border-radius: 13px;
background: #ffffff;
box-shadow: inset 7px 7px 14px #d9d9d9,
            inset -7px -7px 14px #ffffff;
}


.contenedorSearch{
  width: 1100px;
text-align: end;
}

.logo{
  height: 90px;
}

.minav{
  background-image: url('./img/fondoola.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  
}

.iconoBuscador{
  height: 60px;
}






