body {
  margin: 0;
  font-family: 'Oswald', sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  
}
html{
  scroll-behavior: unset !important; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Elemento base */
::-webkit-scrollbar {
  width: 18px;
  
}

::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #ff9100;
  height: 30px;

}
::-webkit-scrollbar-thumb:hover {
  background: #ff8400;
}

